.menu {
  background-color: #F1F2EC !important;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

@media only screen and (max-width: 40em) {
  .menu {
    background-color: grey !important;
    }
}

.segment-width{
  width: 100px;
}

.ui.fluid.labeled.icon.ui.overlay.left.thin.visible.sidebar.menu{
  width:100px !important
}

.ui.fluid.labeled.icon.ui.overlay.left.thin.animating.sidebar.menu{
  width:100px !important
}

.ui.fluid.labeled.icon.ui.overlay.right.thin.visible.sidebar.menu{
  width:100px !important;
}

.ui.fluid.labeled.icon.ui.overlay.right.thin.animating.sidebar.menu{
  width:100px !important
}

.burger-button{
  width: 50px;
}

/* Home Page */
.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;  
  z-index: 0;
}
.stack-top{
  z-index: 9;
  /* margin: 20px; */
  height: 100%;
}

.home-info{
  text-align: center;
  margin: 100px;
  z-index: 9 !important;
}

.home-name{
  z-index: 9 !important;
  font-weight: 100000;
  font-size: 55px;
  font-family: "Montserrat,Helvetica,sans-serif";
}

.home-description{
  z-index: 9 !important;
  font-size: 40px;
  font-family: "Montserrat,Helvetica,sans-serif";
}

@media only screen and (max-width: 40em){
  .home-name{
    font-size: 25px;
  }
  .home-description{
    font-size: 20px;
  }
}

/* About */

.about-page{
  text-align: center;
}

/* Projects */

.projects{
  text-align: center;
}

.ui.centered.card{
  width: 400px !important
}

.project-box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;  
  z-index: 0;
}
.project-box.stack-top{
  z-index: 9;
}

/* Resume */

.resume {
  text-align: center;
  margin: 100px;
  z-index: 9 !important;
}

.resume-box{
  width: 100%;
  /* height: 210%;             */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;  
  z-index: 0;
}

@media only screen and (max-width: 40em){
  .resume-box{
    width: 100%;
    /* height: 310%; */
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100;  
    z-index: 0;
  }
}

.resume-box.stack-top{
  z-index: 9;
}

/* .resume-logos{
  height: 150%;
} */

.resume-title{
  z-index: 9 !important;
  font-weight: 100000;
  font-size: 55px;
  font-family: "Montserrat,Helvetica,sans-serif";
  /* text-align: center; */
}

/* Blogs */
.blog-title{
  z-index: 9 !important;
  font-weight: 100000;
  font-size: 55px;
  font-family: "Montserrat,Helvetica,sans-serif";
}

/* Contact Me */
.contact-title{
  z-index: 9 !important;
  font-weight: 100000;
  font-size: 55px;
  font-family: "Montserrat,Helvetica,sans-serif";
  text-align: center;
}

.contact-image{
  height: 100px;
}